@font-face {
  font-family: "NotoSansMono";
  font-style: normal;
  font-weight: normal;
  src: url("https://TempoJC.github.io/tempo-ui/fonts/noto-sans-mono/NotoSansMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansMono";
  font-style: normal;
  font-weight: 300;
  src: url("https://TempoJC.github.io/tempo-ui/fonts/noto-sans-mono/NotoSansMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansMono";
  font-style: normal;
  font-weight: 500;
  src: url("https://TempoJC.github.io/tempo-ui/fonts/noto-sans-mono/NotoSansMono-Bold.ttf") format("truetype");
}
