.tempo-divider {
  display: block;
}

.tempo-divider--horizontal {
  width: 100%;
  height: 1px;
}

.tempo-divider--vertical {
  width: 1px;
  height: 100%;
}

.tempo-divider--light.tempo-divider--high {
  background-color: var(--color-token-light-border-1);
}

.tempo-divider--dark.tempo-divider--high {
  background-color: var(--color-token-dark-border-1);
}

.tempo-divider--light.tempo-divider--medium {
  background-color: var(--color-token-light-border-2);
}

.tempo-divider--dark.tempo-divider--medium {
  background-color: var(--color-token-dark-border-2);
}

.tempo-divider--light.tempo-divider--low {
  background-color: var(--color-token-light-border-3);
}

.tempo-divider--dark.tempo-divider--low {
  background-color: var(--color-token-dark-border-3);
}
